<!DOCTYPE html>
<html lang="en">


    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
    </head>

    <body>
        <header>
            <h2>Test Your Friendship Today!</h2>
        </header>

        <h3> Are you ready to test your friendship?</h3>
        <button class="button button1">Yes</button>
        <button class="button button2">No</button>
        

        <section>
            <nav>
                <a href="default.asp">
                    <img src="https://media.japanesewithanime.com/uploads/star-eyes-sailor-moon-ep01.jpg" alt="Starry Eyes">
            </nav>

            <article>
                <h1>What this test is about?</h1>
                <p>This is a simple test to find out how solid you and your friend's relationship is... </p>
                <p>If you are ready, hit the button and complete the test on the other web page!</p>
            </article>
        </section>

        <footer>
            <p>Copyright 2022 - Mengyao Hu </p>
        </footer>

    </body>


</html>