<!DOCTYPE html>
<html lang="en">


    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
    </head>

    <body>
        <header>
            <h2>Test Your Friendship Today!</h2>
        </header>

        <h3> Are you ready to test your friendship?</h3>
        <button> Yes </button>
        <button> No </button>

        <section>
            <nav>
                <a href="default.asp">
                    <img src="https://media.japanesewithanime.com/images/854/star-eyes-sailor-moon-ep01.jpg" alt="Starry Eyes">
            </nav>

            <article>
                <h1>About</h1>
                <p>This is a basic example of using layouts.</p>
                <p>It looks aweful, but it could look worse.</p>
                <p>The template utilized to make this is from:   <a href="https://www.w3schools.com/html/html_layout.asp">    W3 School   </a>    </p>
            </article>
        </section>

        <footer>
            <p>Copyright 2022 - AHI </p>
        </footer>

    </body>


</html>