<!DOCTYPE html>
<html lang="en">


    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
    </head>

    <body>
        <header>
            <h2>Here you go!</h2>
        </header>

        <p> Question: if every time you press this magic button, you recieve $10 million,</p>
        <p> but your friend will lose 1 minute of his/her life time, would you press the button?</p>

        <button class="button button1">Hell yea!</button>
        <button class="button button2">No I love my friend!</button>
        

        <section>
            <nav>
                <a href="default.asp">
                    <img src="https://media.giphy.com/media/139lMwJ9ow7bKE/giphy.gif" alt="Press Button">
            </nav>

            <article>
                <h1>Alright here is a following question...</h1>
                <p>If your answer is "yes"... </p>
                <p>How many times would you press the button?</p>
                <p>Feel free to show your answer to your friend!</p>
            </article>
        </section>

        <footer>
            <p>Copyright 2022 - Mengyao Hu </p>
        </footer>

    </body>


</html>